@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Bebas+Neue&family=Courgette&family=Dongle:wght@700&family=Fira+Sans&family=Francois+One&family=IBM+Plex+Mono&family=Inter:wght@400;500&family=Lobster&family=Qwitcher+Grypen:wght@700&family=Roboto+Slab:wght@400;500;600&family=Rubik:wght@400;600&family=Source+Serif+4:wght@400;600&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Francois One', sans-serif;
    transition: all 0.5s ease;
    object-fit: cover;
}
nav{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom,rgb(82, 80, 66), rgb(104, 104, 104), rgb(124, 124, 124));
}
#stop .head{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    border-bottom: 1px solid rgba(233, 233, 233, 0.4);
}
#stop .head .contact{
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    color: #000000;
}
#stop .head .contact span{
    font-family: 'Roboto', sans-serif;
}
#stop .head .icon-head{
    display: flex;
    justify-content: center;
    align-items: center;
}
#stop .head .icon-head a{
    padding: 0 30px;
    color: #000000;
    font-size: 25px;

}
#stop .head .icon-head .fab{
    transition: all 0.2s ease;
}
#stop .head .icon-head .fa-instagram:hover{
    color: rgb(245, 0, 114);
    font-weight: 400;
}
#stop .head .icon-head .fa-telegram-plane:hover{
    color: rgb(0, 110, 255);
    font-weight: 400;
}
#stop .head .icon-head .fa-whatsapp:hover{
    color: #4dc247;
    font-weight: 400;
}
#stop .head .icon-head .fa-youtube:hover{
    color: #bb0000;
    font-weight: 200;
}
#stop .head .icon-head .fa-facebook-square:hover{
    color: #2650aa;
    font-weight: 300;
}
/* ----end head--- */
 #main{
     display: flex;
     flex-direction: column;
}
#fixed{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
#fixed .body-nav{
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 95%;  
    border-bottom: 1px solid rgba(233, 233, 233, 0.4);
}

#fixed .body-nav .logo-img{
    width: 20%;
    margin-top: 5px;
    height: 100%;
}
#fixed .body-nav img{
    width: 100%;
    height: 90px;

    overflow: hidden;
    object-fit: cover;
}
#fixed .body-nav .search{
    display: flex;
    width: 50%;
    height: 100%;
    padding: 0 30px;
    margin: auto 0;
}
#fixed .search input{
    width: 90%;
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid gray;
    padding: 5px 10px;
}
#fixed .search input::placeholder{
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: black;
    opacity: 0.5;
}
#fixed .search a{
    background-color: rgb(174, 197, 112);
    height: 100%;
    width: 10%;
    margin: auto;
    padding: 8px 40px;
    color: white;
    border-radius: 5px 0px 0 5px;
}
#fixed .account{
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#fixed .account a{
    color: black;
    margin:0 4px ;
    width: 120px;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 10px;
    padding: 10px 30px;
    transition: all 0.5s ease;
    background: linear-gradient(to right, #98a476, #ced2c2);
}
#fixed .account a:hover{
    background:#f7fda7;
}
/* ------end nav body ----- */

/* ------start nav footer ----- */

#fixed .footer-nav {
    margin: 5px auto;
     width: 94%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}
#fixed .order a{
    font-family: 'Inter', sans-serif;
    padding: 3px 9px;
    text-decoration: none;
    font-size: 21px;
    color: white;
    transition: all 0.5s ease;
}
#fixed.order a:hover{
    color: rgb(240, 90, 90);
}
#fixed .continer{
    width: 70%;
    margin: auto;
    text-align: center;
}
#fixed .continer a{
    width: 100%;
   margin: 0 3%;
   font-size: 20px;
   color: #f1f3eb;
   text-decoration: none;
   transition: all 0.5s ease;
}
#fixed .continer a:hover{
    color: black;
}

/* ========start body======== */

/* ====== side bar home======= */
.home{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.home img{
    width: 100%;
}
.home .prev,.next{
    position: absolute;
    color: #fcfcfc;
    background-color: rgba(128, 128, 128, 0.5);
    font-size: 40px;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    top: 50%;
    transform: translate(0,-50%);
    
}
.side{
    display: none;
    animation: slid-home 1.5s;
}
.active{
    display: block;
}
.prev{
    left: 1%;
}
.next{
    right: 1%;
}
/* ======end side bar home======= */

/* ====== gift ======= */

#gift{
    width: 100%;
    background: linear-gradient(to bottom, #f8f8f8, #e8dee1);
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow:0 0 0  rgba(0, 0, 0, 0.4);
}
#gift .pic{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#gift .pic img{
    width: 50%;
}
#gift .gift-box{
    margin-top: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
#gift .gift-box .video{
    background: linear-gradient(to bottom, #f8f8f8, #e8dee1);
    width: 27%;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
#gift .gift-box .video video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    /* left: -50%;
    transform: translateX(-323px); */
}
#gift .gift-box .text-gift{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#gift .gift-box .text-gift h1{
    font-size: 70px;
    color: rgb(109, 109, 109);
}
#gift .gift-box .text-gift h1 strong{
    border-bottom: 4px solid rgb(13, 160, 0);
    color: hotpink;
}

#gift .gift-box .text-gift a{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 10px auto;
    background: rgb(203, 72, 255);
    border-radius: 10px;
    font-size: 25px;
    color: white;
}
#gift .gift-box .text-gift a:hover{
    color: rgb(203, 72, 255);
    background: white;
    transform: scaleX(1.2);
}

/*======= end gift section======= */

/*======= start buy section======= */

#buy h1{
    margin: 20px auto;
    width: 100%;
    font-size: 40px;
    text-align: center;
}
#buy .img-box{
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#buy .img-box:hover{
    border: 1px solid  black;
}

#buy .img-box .image{
    display: flex;
}
#buy .img-box .image-1{
    width: 50%;
}
#buy img:hover{
    border: 2px solid rgb(43, 28, 28);
    transform: scale(1.1);
}
#buy .img-box .img{
    display: flex;
    width: 50%;
    flex-direction: column;
}
#buy .img-box .down{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}
/*======= end buy section======= */

#brand img{
    width: 7%;
}
#brand .slider{
    width: 100%;
    opacity: 0.9;
    height: 720px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}
#brand .slider .content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    transition: all 1s ease-in-out;
}
#brand .slider .content img .slide{
    object-fit: cover;
    width: 100%;
    height: 750px;
}
/* ===================================animation================================ */

@keyframes slid-home{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}