@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Bebas+Neue&family=Courgette&family=Dongle:wght@700&family=Fira+Sans&family=Francois+One&family=IBM+Plex+Mono&family=Inter:wght@400;500&family=Lobster&family=Qwitcher+Grypen:wght@700&family=Roboto+Slab:wght@400;500;600&family=Rubik:wght@400;600&family=Source+Serif+4:wght@400;600&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
    object-fit: cover;
}
a{
    text-decoration: none;
    color:#000;
}
nav{
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: linear-gradient(to bottom,rgb(61, 61, 59), rgb(70, 70, 70), rgb(124, 124, 124));
}
#stop .head{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(233, 233, 233, 0.4);
    background: rgb(100, 100, 100);
}
#stop .head .icon-head{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#stop .head .icon-head a{
    padding: 0 30px;
    color: #000000;
    font-size: 25px;
}
#stop .head .icon-head .fab{
    transition: all 0.2s ease;
}
#stop .head .icon-head .fa-instagram:hover{
    color: rgb(245, 0, 114);
    font-weight: 400;
}
#stop .head .icon-head .fa-telegram-plane:hover{
    color: rgb(0, 110, 255);
    font-weight: 400;
}
#stop .head .icon-head .fa-whatsapp:hover{
    color: #4dc247;
    font-weight: 400;
}
#stop .head .icon-head .fa-youtube:hover{
    color: #bb0000;
    font-weight: 200;
}
#stop .head .icon-head .fa-facebook-square:hover{
    color: #2650aa;
    font-weight: 300;
}
/* ----end head--- */
 #main{
    font-family: 'Francois One', sans-serif;
     display: flex;
     flex-direction: column;
}
#fixed{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
#fixed .body-nav{
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 95%;  
    border-bottom: 1px solid rgba(233, 233, 233, 0.4);
}
#fixed .body-nav .logo-img{
    width: 20%;
    margin-top: 5px;
    height: 100%;
}
#fixed .body-nav img{
    width: 100%;
    height: 90px;
    overflow: hidden;
    object-fit: cover;
}
#fixed .body-nav .search{
    display: flex;
    width: 50%;
    height: 100%;
    padding: 0 30px;
    margin: auto 0;
}
#fixed .search input{
    width: 90%;
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid gray;
    padding: 5px 10px;
}
#fixed .search input::placeholder{
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: black;
    opacity: 0.5;
}
#fixed .search a{
    background-color: rgb(122, 136, 84);
    height: 100%;
    width: 10%;
    margin: auto;
    padding: 9px 40px;
    text-align: center;
    color: white;
    border-radius: 5px 0px 0 5px;
    color: #000000;
}
#fixed .search a:hover{
    background-color: rgb(207, 211, 194);
}
#fixed .account{
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fixed .account a{
    color: black;
    margin:0 4px ;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 30px;
    transition: all 0.5s ease;
    background: linear-gradient(to right, #bcbeb4, #e2ebc9);
    white-space: nowrap;
    margin: auto;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 100;
    -webkit-box-shadow: 0 4px 5px 2px #000000;
    -moz-box-shadow: 0 4px 5px 2px #000000;
    box-shadow: 0 4px 5px 2px #000000;
    border: outset #FFFFFF 1px;
    text-decoration: none;
    color: #000000;
}
#fixed .account a:hover{
    background:#f7fda7;
    border: outset #FFFFFF 1px;
    background: #C4A6F1;
    background-image: -webkit-linear-gradient(top, #98a476, #afc961);
    background-image: -moz-linear-gradient(top, #98a476, #a5b969);
    background-image: -ms-linear-gradient(top, #98a476, #a2bb57);
    background-image: -o-linear-gradient(top, #98a476, #92a755);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    text-decoration: none;
}
/* ------end nav body ----- */

/* ------start nav footer ----- */
#fixed .footer-nav {
    margin: 5px auto;
     width: 94%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}
#fixed .order a{
    font-family: 'Inter', sans-serif;
    padding: 3px 9px;
    text-decoration: none;
    font-size: 21px;
    color: white;
    transition: all 0.5s ease;
}
#fixed .order a:hover{
    color: rgb(240, 90, 90);
}
#fixed .continer{
    width: 70%;
    margin: auto;
    text-align: center;
}
#fixed .continer a{
    width: 100%;
   margin: 0 3%;
   font-size: 20px;
   color: #f1f3eb;
   text-decoration: none;
   transition: all 0.5s ease;
}
#fixed .continer a:hover{
    color: black;
}
/* ========start body======== */

/* ====== side bar home======= */
.home{
    font-family: 'Francois One', sans-serif;
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.home img{
    width: 100%;
}
.home .prev,.next{
    position: absolute;
    color: #fcfcfc;
    background-color: rgba(128, 128, 128, 0.5);
    font-size: 40px;
    text-decoration: none;
    padding: 20px;
    width: 200px;
    height: 500px;
    margin: auto;
    top: 50%;
    transform: translate(0,-50%);
}
.home a:hover{
    background-color: rgb(175, 175, 175);
}
.side{
    display: none;
    animation: slid-home 1.5s;
}
.active{
    display: block;
}
.prev{
    left: -9%;
    display: flex;
    border-radius: 0px 50% 50% 0px;
    align-items: center;
    justify-content: flex-end;
}
.next{
    right: -9%;
    display: flex;
    border-radius: 50% 0px 0px 50%;
    align-items: center;
    justify-content: flex-start;
}
/* ======end side bar home======= */

/* ====== gift ======= */
#gift{
    width: 100%;
    background: linear-gradient(to bottom, #f8f8f8, #e8dee1);
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow:0 0 0  rgba(0, 0, 0, 0.4);
    font-family: 'Francois One', sans-serif;
}
#gift .pic{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#gift .pic img{
    width: 50%;
}
#gift .gift-box{
    margin-top: 90px;
    height: 98%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
#gift .gift-box .video{
    width: 100%;
    height: 500px;
    margin:0 3%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
#gift .gift-box .video video{
    width: 100%;
    height: 100%;
    position: absolute;
}
#gift .gift-box .text-gift{
    width: 100%;
    margin-right: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#gift .gift-box .text-gift h1{
    font-size: 65px;
    color: rgb(109, 109, 109);
}
#gift .gift-box .text-gift h1 strong{
    border-bottom: 4px solid rgb(13, 160, 0);
    color: hotpink;
}
#gift .gift-box .text-gift a{
    width: 30%;
    white-space: nowrap;
    margin: auto;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 27px;
    font-weight: 100;
    padding: 24px;
    background-color: #F63DD0;
    -webkit-box-shadow: 0 4px 5px 2px #000000;
    -moz-box-shadow: 0 4px 5px 2px #000000;
    box-shadow: 0 4px 5px 2px #000000;
    text-shadow: 5px 3px 9px #000000;
    border: outset #FFFFFF 1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
#gift .gift-box .text-gift a:hover{
    border: outset #FFFFFF 1px;
    background: #C4A6F1;
    background-image: -webkit-linear-gradient(top, #C4A6F1, #570B3D);
    background-image: -moz-linear-gradient(top, #C4A6F1, #570B3D);
    background-image: -ms-linear-gradient(top, #C4A6F1, #570B3D);
    background-image: -o-linear-gradient(top, #C4A6F1, #570B3D);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-decoration: none;
}
/*======= end gift section======= */

/*======= start buy section======= */

#buy h1{
    margin: 20px auto;
    width: 100%;
    font-size: 40px;
    text-align: center;
}
#buy .img-box{
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#buy .img-box:hover{
    border: 1px solid  black;
}
#buy .img-box .image{
    display: flex;
    width: 100%;
}
#buy .img-box .image-1{
    width: 50%;
}
#buy img:hover{
    border: 2px solid rgb(43, 28, 28);
    transform: scale(1.1);
}
#buy .img-box .img{
    display: flex;
    width: 50%;
    flex-direction: column;
}
#buy .img-box .down{
    display: flex;
    width: 100%;
}
#buy .img-box .down{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}
/*======= end buy section======= */
#brand{
    margin: 2% 0;
    transition: all 0.1 ease;
}
#brand h1{
    width: 100%;
    margin-bottom: 3%;
    letter-spacing: 1px;
    font-size: 35px;
    text-align: center;
}
#brand .slid-img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    padding: 0 20px;
}
#brand .slid-img:hover{
    transform: scale(1.2);
}
#brand .slider {
    overflow: hidden;
    width: 90%;
    height: 200px;
    margin: auto;
    opacity: 0.9;
    flex-direction: column;
    position: relative;
    box-shadow: 10px 10px 30px 10px rgba(128, 128, 128, 0.5);
}
#brand .slider .content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 200px;
    align-items: center;
    width: 100%;
    transition: all 1s ease-in-out;
}
/* ==================== end brand =================== */

/* ==================== start shop =================== */
#shop{
    margin: 4% auto;
    box-shadow: 0px 0px 15px 3px gray;
    width: 90%;
}
#shop .stor{
    display: flex;
    flex-direction: row;
}
#shop .title{
    text-align: center;
    font-size: 40px;
    width: 100%;
}
#shop img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#shop .box-shop{
    width: 50%;
    height: 700px;
    display: flex;
    margin: 2% 5%;
    flex-direction: column;
}
#shop .box-shop .continer-shop::-webkit-scrollbar{
    width: 20px;
}
#shop .box-shop .continer-shop::-webkit-scrollbar-track{
    background: linear-gradient(to bottom,rgb(128, 128, 126), rgb(70, 70, 70), rgb(124, 124, 124));
}
#shop .box-shop .continer-shop::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom,rgb(160, 160, 60), rgb(181, 190, 145), rgb(124, 124, 124));
    border-radius: 50px;
    height: 20px;
}
#shop .box-shop .continer-shop{
    width: 100%;
    height: 700px;
    display: flex;
    overflow-x: auto;
    flex-direction: column;
    box-shadow: 5px 1px 5px 5px rgba(0, 0, 0 , 0.2);
    border-radius: 5px;
    border: 1px solid rgb(192, 192, 192);
}
#shop .box-shop .continer-shop .item-shop{
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 270px;
    flex-direction: row;
    flex-shrink: 0;
    padding: 4%;
    margin: 1px 0;
    overflow: hidden;
    border: 1px solid gray;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
}
#shop .item-shop a{
    width: 50%;
    height: 100%;
}
#shop .item-shop a:hover{
    transform: scale(1.1);
}
#shop .item-shop h2{
    width: 50%;
    font-size: 16px;
    text-align: center;
    margin: auto;
    color: rgb(41, 41, 41);
}
#shop .item-shop h2 strong{
    font-size: 18px;
    color: #000000;
}
#shop .title-box{
    text-align: center;
    color: #2d360f;
    margin-bottom: 2%;
    text-shadow: 10px 10px 10px rgb(109, 109, 109);
}
#shop .item-shop h2 span{
    font-size: 12px;
    color: red;
}
/* ==================== start footer =================== */
#footer .footer{
    max-width: 100%;
    height: 100%;
    padding-bottom: 20px;
    margin: auto;  
    font-family: 'Abel', sans-serif;
    border-top: 1px solid gray;
    box-shadow: 0px 0px 15px 2px gray;
}
#footer .row{
    margin: auto;
    width: 99%;
    display: flex;
    flex-direction: row;
    padding: 5% 2%;
}
#footer .row .item{
    text-align: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    margin: 0 10px;
 
}
#footer .row .item h2{
    color: #555;
    font-size: 110%;
    font-weight: 700;
    padding-bottom: 10px;
}
#footer .row .item a{
    font-size: 90%;
}
#footer .banner{
    text-align: center;
}
#footer .payment{
    margin: 20px 0;
    padding: 0   2%;
}
#footer .payment-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#footer .payment-icon .item {
    margin: 0  5px;
}
#footer .payment-icon .item img{
    width: 45px;
    height: 35px;
}
#footer .footer-bottom{
    text-align: center;
    margin-bottom: 20px;
    padding: 0 2%;
}
/* ==================== end footer =================== */

/* ===================================animation================================ */

@keyframes slid-home{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*  Start Watch Popular Section */
#shop {
    font-family: sans-serif;
    margin-bottom: 50px;
    padding-top: 2rem
}
#shop .shop{
 max-width: 1500px;
 /* height: 100vh; */
 margin: auto;
 display: flex;
 flex-direction: row;
 
}
#shop .shop-left{
    width: 25%;
    height: auto;
    background-color: rgba(31, 200, 219,.8);
    background-image: linear-gradient(140deg, rgba(234, 222, 219,.8) 0%, rgba(188, 112, 164,.8) 50%, rgb(191, 214, 65,.8) 75%);
    border-radius: 10px 10px 0 0;

}
#shop .off-0{
    display: flex;
    flex-wrap: wrap;
}
#shop .off-0 .right{
    width: 50%;
    height: auto;
}
#shop .off-0 .left{
    width: 50%;
    height: auto;
}

#shop .off-0 img{
    width: 100%;
    height: 100%;
    cursor:-webkit-zoom-in;
}
#shop .shop-right{
    width: 75%;
    height: auto;
    padding: 0 10px;

}
#shop .shop-right p{
    font-size: 3rem;
    margin-top: 20px;
}
#shop .shop-right .brand{
    display: flex;
    flex-direction: column;
    

}
#shop .shop-right .brand-item{
    display: flex;
    flex-direction: row;
    margin:10px 0;
}
#shop .shop-right .item{
    display: flex;
    flex-direction: row;
    width: 16%;
    height: 10%;
    margin: 4px 5px;
    border: 2px solid lightslategrey;
    padding: 10px;
    align-items: center;
}

#shop .shop-right .item img{
   width: 100%;
   height: 100%;
}
#shop .off{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
}
#shop .off-right{
    width: 50%;
    height: 100%;
    background-image: url(/new/image/off/AR11336_SML.webp);
    background-repeat: no-repeat;
    background-position: right;
    border: 2px solid lightgray;
    padding: 15px;
}

#shop .off-left{
    width: 50%;
    height: 100%;
    background-image: url(/new/image/off/GA-200RG-1A_SML.webp);
    background-repeat: no-repeat;
    background-position: right;
    border: 2px solid lightgray;
    padding: 15px;

}
#shop .off h2{
    margin-top: 20px;
    color: rgb(245, 0, 114);
}
#shop .off strong{
    font-size: 4rem;
}
#shop .off p{
    margin-top: 20px;
    width: 75%;
    font-size: 1.7rem;
}
#shop .off .pay{
    margin-top: 25px;
    color:rgb(82, 80, 66)
}
#shop .off .btn{
    margin-top: 15px;
    outline: none;
    padding: 10px 40px;
    border: 2px solid tomato;
    color: tomato;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    outline: none;
    font-weight: 700;
    margin-bottom: 20px;
    
}
#shop .off .btn:hover{
    background-color: #FF3EA5FF;
    color: #f1f3eb;
    font-weight: 700;
    border: none;
}
#shop .off .pay-off{
    margin-top: 15px;
    color: rgb(245, 0, 114);
    font-size: 4rem;
}
#shop .off .off-btn{
    text-align: center;
}
/*  End Watch Popular Section */
#shop .watches{
    margin-top: 50px;
}
 #shop .watches .watches-item{
    display: flex;
    flex-direction: row;
    font-size: 10px;
   
}

#shop .watches .watches-item p{
    font-size: 15px;
}
#shop .watches .watches-item .item{
    flex-direction: column;
    width: 24%;
    justify-content: flex-start;
    overflow: hidden;

    
    /* width: 25%; */
}
#shop .watches .watches-item .item .icon{
    display: flex;
    flex-direction: row;
    align-content: left;
}
#shop .watches img{
    width: 100%;
    height: 100%;
}
#shop .watches img:hover{
transform: scale(1.1);
cursor:-webkit-zoom-in;

}
#shop .watches .w-info-{
    font-size: 200px;
    color:rgb(0, 110, 255)
    forestgreen

}
/*  Start Customer */

#shop .customer-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}#shop .customer-1{
    width: 32%;
    height: auto;
    padding: 10px;
    border: 2px solid lightslategrey;
    margin: 0 2px;
}
#shop .customer h1{
    margin: 20px 0;
    margin-left: 20px ;

    font-size: 3rem
}
#shop .customer-1 p{
    font-size: 1.3rem;
    line-height: 20px;
}
#shop .customer-1 h5{
    font-size: 1.4rem;
    margin-top: 10px;
}
/*  End Customer */

#shop .wellcom {
    padding: 0px 20px
}
#shop .wellcom h1{
    font-size: 3rem;
    margin-top: 60px;
}

#shop .wellcom p{
    font-size: 1.7rem;
    margin-bottom: 30px;
}
#shop .wellcom ul{

    font-size: 1.3rem;
   padding-left: 20px;
}
#shop .wellcom ul li{
    margin-top: 5px;
}
#shop .wellcom h2{
    font-size: 1.7rem;
}
#shop .wellcom h3{
    font-size: 1.6rem;
    margin-top: 20px;
}
#shop .shop-left{
    padding-right: 3%;
    font-size: 1.6rem;
    position: relative;
}

.sliad-bar{
    cursor: pointer;
    width: 100%;
    height: auto;
    position: fixed;

}
.list ul{
    display: none;

}
.list li{
    padding: 10px;
    border-bottom: 2px solid #555;
    margin: 5px 0;
    list-style: none;
  
    
}
 

/* ----------------------- */

.sliad-bar{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
  
    padding: 0 5%;
}
.sliad-bar .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;

}
.sliad-bar .links li{
    list-style: none;
}

.sliad-bar #nav-toggle{
    position: absolute;
    display: none;
}
.sliad-bar .icon-burger {
 
    position: absolute;
    right: 5%;
    top: 5%;
    transform: translateY(-50%);
}

.sliad-bar .icon-burger .line{
    width: 14px;
    height: 3px;
    background-color: chocolate;
    border-radius: 3px;
    margin: 5px 0;
    transition: all .3s ease-in-out;
    cursor: pointer;

}
.line:nth-child(1){
    transform: translateY(8px) rotate(-227deg);

}
.line:nth-child(2){
    display: none;
   
   }
   .line:nth-child(3){
    transform: translateX(-7px) rotate(-136deg);
   
   }
@media screen and (min-width: 500px){
    .sliad-bar .links{
        float: none;
        position: absolute;
        z-index: 9;
        background-color: rgba(31, 200, 219,.8);
        background-image: linear-gradient(140deg, rgba(234, 222, 219,.8) 0%, rgba(188, 112, 164,.8) 50%, rgb(191, 214, 65,.8) 75%);
        left: 18px;
        top: 100px;
        right: 0;
        bottom: 100%;
        width: 90%;
        height: auto;
        flex-direction: column;
        overflow: hidden;
        transition: .3s ease-in-out;
    } 
    .sliad-bar :checked ~.links{
        top: 40px;
        bottom: 0; 
        width: 90%;
        left: 18px;
    }
    .sliad-bar .list-1 :checked ~.links{
        top: 88px;
        bottom: -200px;
        width: 90%;
        left: 18px;
    }
    .sliad-bar .list-2 :checked ~.links{
        top: 133px;
        bottom: -150px;
        width: 90%;
        left: 18px;
    }
    .sliad-bar .list-3 :checked ~.links{
        top: 179px;
        bottom: -200px;
        width: 90%;
        left: 18px;
    }
    .sliad-bar .list-4 :checked ~.links{
        top: 224px;
        bottom: -600px;
        width: 90%;
        left: 18px;
    }
    .sliad-bar .list-5 :checked ~.links{
        top: 268px;
        bottom: -1000px;
        width: 90%;
        left: 18px;
    }
    .sliad-bar .list-6 :checked ~.links{
        top: 313px;
        bottom: -500px;
        width: 90%;
        left: 18px;
    }
    .sliad-bar .icon-burger{
        display: block;
    }
    .sliad-bar .links{
        display: block;

    }
    .sliad-bar  :checked ~ .icon-burger .line:nth-child(1){
        transform: translateY(8px) rotate(227deg);
    
    }
    .sliad-bar  :checked ~ .icon-burger .line:nth-child(2){
        display: none;
       
       }
       .sliad-bar  :checked ~ .icon-burger .line:nth-child(3){
        transform: translateX(-7px) rotate(136deg);
       
       }
}
    

/* list-1 */
.sliad-bar .list-1.links{
    float: right;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;

}
.sliad-bar #nav-1-toggle{
    position: absolute;
    display: none;
}
.sliad-bar .icon-1-burger {
    position: absolute;
    right: 5%;
    top: 20%;
    transform: translateY(-50%);
}

.sliad-bar .icon-1-burger .line{
    width: 14px;
    height: 3px;
    background-color: chocolate;
    border-radius: 3px;
    margin: 5px 0;
    transition: all .3s ease-in-out;
    cursor: pointer;

}

   /* End list-1 */

   /* Start list-2 */
  
.sliad-bar .list-2.links{
    float: right;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;

}
.sliad-bar #nav-2-toggle{
    position: absolute;
    display: none;
}
.sliad-bar .icon-2-burger {
    position: absolute;
    right: 5%;
    top: 34%;
    transform: translateY(-50%);
}

.sliad-bar .icon-2-burger .line{
    width: 14px;
    height: 3px;
    background-color: chocolate;
    border-radius: 3px;
    margin: 5px 0;
    transition: all .3s ease-in-out;
    cursor: pointer;

}

   /* End list-2 Start */

   /* Start list-3 */
   .sliad-bar .list-3.links{
    float: right;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;

}
.sliad-bar #nav-3-toggle{
    position: absolute;
    display: none;
}
.sliad-bar .icon-3-burger {
    position: absolute;
    right: 5%;
    top: 48%;
    transform: translateY(-50%);
}

.sliad-bar .icon-3-burger .line{
    width: 14px;
    height: 3px;
    background-color: chocolate;
    border-radius: 3px;
    margin: 5px 0;
    transition: all .3s ease-in-out;
    cursor: pointer;

}
   /* End list-3 */

/* Start list-4 */

   .sliad-bar .list-4.links{
    float: right;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;

}
.sliad-bar #nav-4-toggle{
    position: absolute;
    display: none;
}
.sliad-bar .icon-4-burger {
    position: absolute;
    right: 5%;
    top: 62%;
    transform: translateY(-50%);
}

.sliad-bar .icon-4-burger .line{
    width: 14px;
    height: 3px;
    background-color: chocolate;
    border-radius: 3px;
    margin: 5px 0;
    transition: all .3s ease-in-out;
    cursor: pointer;

}
/* End list-4 */
/* Start list-5 */
.sliad-bar .list-5.links{
    float: right;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;

}
.sliad-bar #nav-5-toggle{
    position: absolute;
    display: none;
}
.sliad-bar .icon-5-burger {
    position: absolute;
    right: 5%;
    top: 75%;
    transform: translateY(-50%);
}

.sliad-bar .icon-5-burger .line{
    width: 14px;
    height: 3px;
    background-color: chocolate;
    border-radius: 3px;
    margin: 5px 0;
    transition: all .3s ease-in-out;
    cursor: pointer;

}
/* End list-5 */
/* Start list-6 */
.sliad-bar .list-6.links{
    float: right;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;

}
.sliad-bar #nav-6-toggle{
    position: absolute;
    display: none;
}
.sliad-bar .icon-6-burger {
    position: absolute;
    right: 5%;
    top: 90%;
    transform: translateY(-50%);
}

.sliad-bar .icon-6-burger .line{
    width: 14px;
    height: 3px;
    background-color: chocolate;
    border-radius: 3px;
    margin: 5px 0;
    transition: all .3s ease-in-out;
    cursor: pointer;

}
/* End list-6 */

/*Start Shop left */
#shop .shop-left .kala  {
    width: 100%;
    height: auto;
    position: absolute;
    top: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* #shop .shop-left .kala .left {
    width: 50%;
    height: auto;
    background-color: #555;

   
} */
#shop .shop-left .kala .right {
    width: 100%;
    height: 100%;
    /* background-color: rgb(212, 21, 21); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
#shop .shop-left .kala .right .right-item{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;

   
}
#shop .shop-left .kala .right .right-item .img{
    width: 100%;
    height: 200px;
    border-radius: 50%;
   
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/new/image/left/accessories_round_150.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: rgb(75, 212, 21); */
    background-blend-mode: multiply;
}
#shop .shop-left .kala .right .right-item .img:hover{
    width: 100%;
    height: 200px;
    border-radius: 50%;
   
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/new/image/left/accessories_round_150.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(97, 107, 93,.3);
    background-blend-mode: multiply;
}

#shop .shop-left .kala .right .right-item:hover h4{
    border-bottom:2px solid crimson;
}
#shop .shop-left .kala .right .right-item img{
    width: 100%;
    height: 100%;
}
#shop .shop-left .kala .right  h4{
    font-size: 2.2rem;
}

#shop .shop-left .kala .right .right-item:nth-child(2) .img{
    background-image: url(/new/image/left/handbags_round_150.png);
    
}
#shop .shop-left .kala .right .right-item:nth-child(3) .img{
    background-image: url(/new/image/left/beauty_round_150.png);
    
}
#shop .shop-left .kala .right .right-item:nth-child(4) .img{
    background-image: url(/new/image/left/jewelry_round_150.png);
    
}
#shop .shop-left .kala .right .right-item:nth-child(5) .img{
    background-image: url(/new/image/left/outerwear_round_150.png);
    
}
#shop .shop-left .kala .right .right-item:nth-child(6) .img{
    background-image: url(/new/image/left/ladies_round_150.png);
    
}
#shop .shop-left .kala .right .right-item:nth-child(7) .img{
    background-image: url(/new/image/left/mens_round_150.png);
    
}
#shop .shop-left .kala .right .right-item:nth-child(8) .img{
    background-image: url(/new/image/left/pens_round_150.png);
    
}
#shop .shop-left .kala .right .right-item:nth-child(9) .img{
    background-image: url(/new/image/left/preowned_round_150.png);
    
}
#shop .shop-left .kala .right .right-item:nth-child(10) .img{
    background-image: url(/new/image/left/sale_round_150.png);
    
}
#shop .shop-left .kala .right .right-item:nth-child(11) .img{
    background-image: url(/new/image/left/shoes_round_150.png);
    
}
#shop .shop-left .kala .right .right-item:nth-child(12) .img{
    background-image: url(/new/image/left/mens_round_150.png);
    
}
/* End Shop left */
