/* =================tablet size==================== */
@media screen and (min-width: 992px) {
    #res-nav{
        display: none;
    }
}
@media screen and (max-width : 992px){
   #fixed{
       display: none;
   }
   #res-nav{
        position: sticky;
        flex-wrap: wrap;
        top: 0;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        transition: all 0.1s ease;
        margin: auto;
        height: 110px;
        width: 100%;
   }
   #res-nav .list-res{
       width: 30%;
       list-style-type: none;
       text-align: end;
       margin-right: 2%;
   }
   #res-nav img{
       width: 100%;
       height: 90%;
   }
   #res-nav .logo-res{
       height: 80px;
       width: 30%;
       right: 35%;
       position: absolute;
   }
   #res-nav .basket-res{
       position: absolute;
       display: flex;
       top: 20%;
       right: 90%;
       left: 5%;
   }
   #res-nav .basket-res a{
       color: white;
       font-size: 25px;
       margin: 0 20%;
       transition: all 0.1s ease;
   }
   #res-nav .basket-res a:hover{
       color: rgb(255, 92, 92);
   }
   #res-nav .search-res{
       display: flex;
       align-items: center;
       order: 3;
       height: 20%;
       width: 90%;
       right: 3%;
       left: 5%;
       margin-top: 2%;
       position: absolute;
       top: 58%;
   }
   #res-nav .search-res input{
       height: 150%;
       width: 100%;
       padding: 0 20px;
       font-size: 17px;
       border-radius: 0px 5px 5px 0px;
       border: 1px solid gray;
   }
   #res-nav .fa-search{
        background-color: rgb(122, 136, 84);
        margin: auto;
        font-size: 20px;
        height: 100%;
        padding: 11% 20px;
        text-align: center;
        color: white;
        border-radius: 5px 0px 0 5px;
        color: #000000;
   }
   #res-nav ul a{
       color: white;
       text-decoration: none;
       
   }
   #res-nav ul a:hover{
       text-decoration: underline;
       color: #000000;
   }
   #res-nav ul li{
       font-size: 17px;
       width: 100%;
       display: block;
       padding: 18px 5px;
   }
   #res-nav ul .second{
      border-bottom: 2px solid rgb(163, 163, 163);
   }
   /*------------ mobile res--------- */

   .list-res{
       display: flex;
       position: relative;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
       overflow: hidden;
       height: 80px;
       transition: all 0.3s ease;
       width: 5%;
       background: transparent;
      
    }
   .list-res:hover{
       z-index: 1;
       text-align: center;
       overflow: none;
       margin-top: 10px;
       width: 100%;
       height: 520px;
       border-radius: 0 0 5px 5px;
       box-shadow: 5px 0px 5px rgb(12, 12, 12);
       background: linear-gradient(to bottom,rgba(124, 124, 124, 0.9) , rgba(70, 70, 70, 0.9), rgba(61, 61, 59, 0.9));
    }
   #res-nav .list-res .toggle .bars{
       font-size: 30px;
       color: aliceblue;
       background-color: transparent;
   }
   #res-nav .list-res .toggle{
       cursor: pointer;
       order: 1;
   }
   #res-nav .list-res .buttom{
       order: 2;
   }
   #res-nav .list-res .tag{
       width: 100%;
       text-align: center;
       order: 3;
   }
   #res-nav .list-res .tag:hover{
       background-color: rgba(0, 0, 0, 0.4);
       transform: scale(1.1);
   }
   #res-nav .list-res .buttom:hover{
    background-color: rgb(122, 136, 84);
   }



   /* finish nav bar responsive */

   .home .next{
       right: -18%;
   }
   .home .prev{
       left: -18%;
   }

   /* finish home */

   #gift .gift-box{
       display: flex;
       flex-direction: column;
       margin-top: 0px;
   }
   #gift .gift-box .video{
       width: 95%;
   }
   #gift .gift-box .video video{
       width: 100%;
   }
   #gift .gift-box .text-gift{
       display: inline-block;
       width: 100%;
       font-size: 1px;
       text-align: center;
   }
    /* finish gift */

    /* page 2 */
    #shop .shop-left {
        width: 0;
        height: auto;
        display: none;
     }
     #shop .shop-right {
        width: 100%;
        height: auto;
        padding: 0 10px;
    }
    #shop .wellcom ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        height: 80px;
        transition: all 0.3s ease;
        width: 100%;
        background: transparent;
    }

    /* End page 2 */

    /* footer */
    #footer .row{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #footer .row h2{
        font-size: 120%;
        margin-top: 5%;
    }

 }
/* start mobile */
 @media screen and (max-width : 776px){
    #shop .off {
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #shop .off-left {
        width: 100%;
        height: 100%;
    }
    #shop .off-right {
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }
    #shop .watches .watches-item {
        flex-wrap: wrap;
    }
    #shop .watches .watches-item .item {
        width: 47.6%;
    }
    #shop .customer-1 {
        width: 100%;
        margin: 10px 2px;
    }


    /* shop page 1 */
    #shop-page1{
        width: 99%;
        overflow: hidden;
    }
    #shop-page1 .stor{
        flex-direction: column;
    }
    #shop-page1 .stor .title-box{
        font-size: 20px;
        text-shadow: none;
        color: white;
        background-color: rgb(60, 63, 53);
    }
    #shop-page1 .box-shop{
        width: 100%;
        margin: auto;
        margin-top: 10%;
    }
 }
    /* End page 2 */

    
 /* start mobile */